header {
  background-color: #3c3a39;
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 0;
  padding: 3% 4% 3% 4%;
}

.logo {
  width: 20%;
  height: 20%;
}

.bars {
  width: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-bar {
  display: none;
}

.mobile-menu {
  background-color: #3c3a39;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.mobile-menu.visible {
  transform: translateX(0);
  opacity: 1;
}

.custom-line2 {
  width: 295px;
  height: 1px;
  background-color: #dfe1e6;
  margin: 0 auto;
}

.visible {
  display: block;
}

.mobile-ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  line-height: 44px;
  margin-left: 15%;
}

.close-button {
  display: flex;
  width: 95%;
  justify-content: flex-end;
  margin-top: 4px;
  margin-left: 12px;
}

.desktop-bar ul {
  display: flex;
  gap: 24px;
}

.desktop-bar ul li {
  list-style: none;
  text-decoration: none;
}

.desktop-bar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.desktop-bar ul li a.active {
  color: #ff6b00;
}

@media only screen and (min-width: 768px) {
  .desktop-bar {
    display: flex;
  }

  header {
    padding: 1% 9% 1% 9%;
  }

  .bars {
    display: none;
  }

  .logo {
    width: 15%;
    height: 15%;
  }
}
