* {
  margin: 0;
  padding: 0;
}

/* Tool bar container */

.toolbar {
  width: 100%;
  height: 92px;
  position: fixed;
  background-color: #3c3a39;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  width: 70px;
  height: 24px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  top: 10px;
  margin-left: 12px;
}

a:link {
  color: white;
}

a:hover {
  color: red;
}

a:visited {
  color: #ff6b00;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

/* section container */

.section {
  background-image: url(img/Group.png);
  background-repeat: no-repeat;
  background-position: 230px 70%;
  background-color: #1c1a19;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  width: 100%;
  height: 590px;
  left: 0;
  top: 92px;
  display: flex;
  flex-direction: column;
}

div h1 {
  width: 100%;
  height: 124px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
}

div h2 {
  width: 100%;
  height: 27px;
  color: #fff5e1;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

div p {
  width: 100%;
  height: 123px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.social {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  flex: none;
  order: 3;
  flex-grow: 0;
}

/* Media section */

@media (min-width: 375px) {
  .social {
    display: none;
  }
}
