* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background-color: #1c1a19;
}

header {
  height: 70px;
  background-color: #3c3a39;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

main {
  width: 100%;
}

/* Tool bar content */

header .toolbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 20px;
  left: 30px;
  right: 30px;
}

header .toolbar .my-logo {
  width: 100%;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  list-style: none;
}

header .toolbar .bars {
  width: 100%;
  height: 24px;
}

a:link {
  color: white;
}

a:hover {
  color: red;
}

/* main-section content */

.main-section {
  position: relative;
  overflow: hidden;
  padding: 120px 24px 120px 24px;
  background-image: url(img/Group.png);
  background-repeat: no-repeat;
  background-position: right 111%;
  background-color: #1c1a19;
  background-size: auto;
}

.main-section .section-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.main-section .section-content h1 {
  width: 100%;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.main-section .section-content .developer {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
}

.main-section .section-content .developer-info {
  width: 100%;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.main-section .section-content .social {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
}
