* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background-color: #1c1a19;
  box-sizing: border-box;
}

header {
  height: 70px;
  background-color: #3c3a39;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

main {
  width: 100%;
}

/* Tool bar content */

header .toolbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 20px;
  left: 30px;
  right: 30px;
}

header .toolbar .my-logo {
  width: 100%;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  list-style: none;
}

header .toolbar .bars {
  width: 100%;
  height: 24px;
}

header .toolbar .desktop-bar {
  display: none;
}

/* main-section */

.main-section {
  position: relative;
  overflow: hidden;
  padding: 120px 24px 120px 24px;
  background-image: url(img/Group.png);
  background-repeat: no-repeat;
  background-position: right 111%;
  background-color: #1c1a19;
  background-size: auto;
}

.main-section .section-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.main-section .section-content h1 {
  width: 100%;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.main-section .section-content .developer {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
}

.main-section .section-content .developer-info {
  width: 100%;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.main-section .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

/* Work section */

.main-works-section {
  position: relative;
  padding: 120px 24px 120px 24px;
  background-color: #fff;
  display: grid;
  gap: 24px;
}

.works-container {
  display: flex;
  background-color: #fff;
  gap: 12px;
  flex-direction: column;
}

.works-title-2 {
  display: none;
}

.box-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.works-box1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.works-title {
  margin-bottom: 50px;
}

.placeholder-2 {
  display: none;
}

.works-box2 {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.multi-post-h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.multi-post-p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.multi-post-ul {
  gap: 12px;
  display: flex;
}

.multi-post-nav {
  width: 124px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background-color: #ff6b00;
}

/* Professional-art section */

.cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profesional-art-container-2 {
  position: relative;
  background-image: url(img/placebackgroung.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;
  height: 386px;
  background-size: cover;
}

.profesional-art-container-Data-Dashboard {
  position: relative;
  background-image: url(img/data.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;
  height: 386px;
  background-size: cover;
}

.profesional-art-container-Website-Portfolio {
  position: relative;
  background-image: url(img/websiteportfolio.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;
  height: 386px;
  background-size: cover;
}

.profesional-art-h2 {
  font-family: Crete Round, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  margin-left: 13px;
}

.profesional-art-p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 13px;
}

.profesional-art-ul {
  display: flex;
  gap: 12px;
  margin-left: 13px;
}

.profesional-art-nav {
  background-color: #ff6b00;
  width: 100%;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  display: none;
}

/* About me section */

.main-about-me-section {
  position: relative;
  padding: 120px 24px 120px 24px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url(img/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: right 22%;
}

.about-me-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

.about-me-h2 {
  font-family: Crete Round, sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

.about-me-p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.getmyresume {
  background-color: #ff6b00;
  width: 156px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.about-me-line {
  color: #fff;
  margin-top: 209px;
}

.skills-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.language-box {
  width: 100%;
  grid-column: 1/5;
  margin-top: 44px;
}

.skills-ul {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
}

.frameworks-box {
  width: 100%;
  grid-column: 1/5;
  margin-top: 44px;
}

.skills-box {
  width: 100%;
  grid-column: 1/5;
  margin-top: 44px;
}

/* Contact section */

.contact-section {
  position: relative;
  padding: 69px 24px 78px 24px;
  background-color: #fff;
}

.contact-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
}

.contact-p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
  margin-bottom: 100px;
}

.form {
  width: 100%;
  height: 340px;
}

.ul-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.full-name {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 48px;
  width: 327px;
  left: 0;
  top: 0;
  border: none;
  color: #979493;
  border-bottom: 1px solid #979493;
}

.email-address {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 48px;
  width: 327px;
  left: 0;
  top: 0;
  border: none;
  color: #979493;
  border-bottom: 1px solid #979493;
}

.textarea {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  background-color: #fbf8f7;
  height: 114px;
  width: 327px;
}

.getintouch {
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  width: 131px;
  height: 48px;
}

.footer {
  background-color: #fff;
  padding: 10px 24px 11px 24px;
}

.contact-media-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section-media {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 30px;
}

/* Buttons */

button:enabled {
  background-color: #ff6b00;
  color: #f4f5f7;
  border-color: #ff6b00;
}

button:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  border-color: #ff6b00;
}

button:visited {
  background-color: #e05304;
  color: #f4f1f0;
}

button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
  border-color: #f4f1f0;
}

/* Desktop version */

@media only screen and (min-width: 768px) {
  header .toolbar .bars {
    display: none;
  }

  header .toolbar .my-logo {
    margin-left: 100px;
  }

  header .toolbar .desktop-bar {
    display: flex;
    flex-direction: row;
  }

  .main-section {
    padding: 120px 100px 120px 40px;
    height: 600px;
    background-image: url(img/Illustration-header.png);
    background-position: right 3%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .main-section .section-content {
    flex-direction: column;
    order: 1;
    margin-top: 110px;
    margin-left: 60px;
  }

  .main-section .section-content h1 {
    font-size: 72px;
    line-height: 81.5px;
  }

  .main-section .section-content .developer {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .main-section .section-content .developer-info {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .main-section .social {
    display: flex;
    flex-direction: column;
    order: 0;
    margin-top: 170px;
  }

  /* Works */

  .main-works-section {
    padding: 120px 100px 120px 100px;
  }

  .works-container {
    height: 640px;
  }

  .works-title {
    display: none;
  }

  .works-container .works-title-2 {
    display: flex;
    margin-bottom: 100px;
  }

  .placeholder {
    display: none;
  }

  .placeholder-2 {
    display: flex;
    width: 684px;
    height: 448px;
  }

  .box-container {
    flex-direction: row;
  }

  /* Professional art */
  .cards-container {
    flex-direction: row;
    justify-content: center;
    height: 448px;
  }

  .profesional-art-container-Data-Dashboard {
    height: 448px;
    width: 100%;
  }

  .profesional-art-container-Data-Dashboard:hover {
    background-image: url(img/art1.png);
    border: 1px solid black;

    .profesional-art-ul {
      opacity: 0;
    }

    .profesional-art-p {
      opacity: 0;
    }

    .profesional-art-h2 {
      opacity: 0;
    }

    .profesional-art-nav {
      display: block;
    }
  }

  .profesional-art-container-Website-Portfolio {
    height: 448px;
    width: 100%;
  }

  .profesional-art-container-Website-Portfolio:hover {
    background-image: url(img/art1.png);
    border: 1px solid black;

    .profesional-art-ul {
      opacity: 0;
    }

    .profesional-art-p {
      opacity: 0;
    }

    .profesional-art-h2 {
      opacity: 0;
    }

    .profesional-art-nav {
      display: block;
    }
  }

  .profesional-art-container {
    height: 448px;
    width: 100%;
  }

  .profesional-art-container-2 {
    height: 448px;
    width: 100%;
  }

  .profesional-art-container-2:hover {
    background-image: url(img/art1.png);
    border: 1px solid black;

    .profesional-art-ul {
      opacity: 0;
    }

    .profesional-art-p {
      opacity: 0;
    }

    .profesional-art-h2 {
      opacity: 0;
    }

    .profesional-art-nav {
      display: block;
    }
  }

  /* About me */

  .main-about-me-section {
    padding: 120px 100px 120px 100px;
    background-color: #262626;
    background-image: url(img/Frame.png);
    background-position: right 13%;
  }

  .skills-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .skills-ul {
    text-align: left;
  }

  /* Contact section */
  .contact-section {
    padding: 120px 100px 80px 100px;
  }

  .contact-section-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-section-media {
    gap: 20px;
  }

  .form {
    display: flex;
    width: 650px;
    height: 340px;
    align-items: flex-start;
  }

  .ul-form {
    display: flex;
    align-items: flex-start;
  }

  .contact-p {
    text-align: left;
    margin-right: 90px;
    margin-left: 20px;
  }

  .textarea {
    width: 640px;
  }

  .email-address {
    width: 640px;
  }

  .full-name {
    width: 640px;
  }

  .black-bar {
    display: none;
  }
}
